
<% if current_user %>
<h1>Welcome Back,<%= (current_user.email.split('@'))[0].capitalize %></h1>

<p>Poll Question:What is Your favourite fruit?</p>

   <% if current_user.admin %>
     <h2>For Admin Only</h2>
     <%= link_to 'Add Categories',categories_path%>

   <%end%>

  <% if current_user.count==0%>

  <p><%= link_to 'Create Your Poll', new_mypoll_path %></p>

 <% end%>

  <p><%= link_to 'View Polls', mypolls_path %></p>
  
<%= link_to 'Sign Out', destroy_user_session_path,method: :delete %>
<%= pie_chart @pollsarray %>
<%else%>
<h1>Welcome To The HomePage</h1>
<%= link_to 'Sign Up', new_user_registration_path %>
<br>
<%= link_to 'Sign In', new_user_session_path %>
<%end%>



