<p id="notice"><%= notice %></p>

<h1>Mypolls</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>User</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mypolls.each do |mypoll| %>
      <tr>
        <td><%= mypoll.category.name %></td>
        <td><%= mypoll.user.email %></td>
        <td><%= mypoll.category.count %></td>
        <td><%= link_to 'Show', mypoll %></td>
        <td><%= link_to 'Edit', edit_mypoll_path(mypoll) %></td>
        <td><%= link_to 'Destroy', mypoll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
   <%= pie_chart @pollsarray %>
<br>

<%= link_to 'New Mypoll', new_mypoll_path %>
